:root {
    --primario: #784d3c;
    --prmarioOscuro: #801515;
    --blanco: #fff;
    --negro: #1f1e1e;
    --grisClaro: #e1e1e1;

    --fuentePrincipal: 'PT Sans', sans-serif;
    --fuenteSecundaria: 'Open Sans', sans-serif;
    --fuente: Arial, Helvetica, sans-serif;

    --separacion: 5rem; 
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:before {
    box-sizing: inherit;
}

body {
    font-family: var(--fuenteSecundaria);
    font-size: 1.6rem;
    line-height: 1.5;   /* el interlineado puede o no llevar unidades, es la base de la fuente */
}

/* Globales -----------------------------------------------------------------------------------------------------------------------*/
h1, h2, h3, h4 {
    font-family: var(--fuentePrincipal);
    margin: calc( var(--separacion) / 2 ) 0;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.2;
}

h1 {
    font-size: 4.8rem;
}
h2 {
    font-size: 4rem;
}
h3 {
    font-size: 3.2rem;
}
h4 {
    font-size: 2.8rem;
}

p {
    font-size: 1.8rem;
    font-family: var(--fuente);
    color: var(--negro);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}  
/* Hasta aqui es lo que se agrega en todos los proyectos */

/* Utilidades -----------------------------------------------------------------------------------------------------------------------*/
.container {
    max-width: 120rem;
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
}
.no-margin {
    margin: 0;
}
.no-padding {
    padding: 0;
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-bold {
    font-family: var(--fuentePrincipal);
    font-weight: 700;
}
.text-normal {
    font-weight: normal;
}
.center-horizontal-verrtical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nav__bar--width {
    width: 90%;
}
.blog__btnSubmit {
    display: inline-block;
    padding: 1rem 2rem;
    border: 1px solid var(--grisClaro);
    background-color: var(--primario);
    color: var(--blanco);
    text-transform: uppercase;
    transition: backgroun-color .3s ease;
}
.blog__btnSubmit:hover {
    background-color: var(--prmarioOscuro);
}
.line-horizontal {
    margin-bottom: calc(var(--separacion)/2);
    border-bottom: 1px solid var(--primario);
}

/* Header -----------------------------------------------------------------------------------------------------------------------*/
@media (min-width: 320px) and (max-width: 480px) {
    .header-text p {
        padding: 0 calc(var(--separacion)/2);
    }
}
.webp .header {
    background-image: url(../img/banner.webp);
}
.no-webp .header {
    background-image: url(../img/banner.jpg) no-repeat center center;
}
.header {
    height: 60rem;
    background-size: cover;
    display: flex;
    flex-direction: column-reverse;
}
.header-text {
    height: inherit;
}
.header-text h2, .header-text p, .nav__bar h1, .nav > a {
    color: var(--blanco);
}
.nav__bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo__name {
    font-weight: 400;
}
.nav a {
    width: 100%;
    padding: 1.2rem;
}

/* Responsive -----------------------------------------------------------------------------------------------------------------------*/
/*  Mayoría de teléfonos móviles (vertical y horizontal) */
@media (min-width: 320px) and (max-width: 480px) {
    .nav__bar {
        flex-direction: column;
    }
    .nav {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
    }
    .header-text h2 {
        font-size: 3.2rem;
    }
}
@media (min-width: 481px) and (max-width: 768px) {
    .nav__bar {
        flex-direction: column;
    }
    .nav {
        display: flex;
        width: 100%;
        justify-content: space-between;
        text-align: center;
    }
}
@media (min-width: 768px) {
    .nav {
        display: flex;
        justify-content: space-between;
    } 
}

/* Blog -----------------------------------------------------------------------------------------------------------------------*/
article.blog:not(:last-of-type){
    margin-bottom: calc(var(--separacion)/2);
    border-bottom: 1px solid var(--primario);
}
.blog__contenido {
    padding-bottom: calc(var(--separacion)/2);
}

@media (min-width: 320px) and (max-width: 480px) {
    .blog__btnSubmit {
        display: block;
        text-align: center;
    }
}
@media (min-width: 768px) {
   .container__grid {
       display: grid;
       grid-template-columns: 2fr 1fr;
       gap: 4rem;
   }
   h4.blog__contenido__titulo {
       text-align: left;
   }
}
/* Sidebar -----------------------------------------------------------------------------------------------------------------------*/
ul.cursos {
    margin: calc(var(--separacion)/2) 0;
}
ul.cursos li.widget-curso:not(:last-of-type) {
    margin-bottom: calc(var(--separacion)/2);
    border-bottom: 1px solid var(--primario);
}
ul.cursos li.widget-curso {
    list-style: none;
    padding-bottom: calc(var(--separacion)/2);
}

/* Footer -----------------------------------------------------------------------------------------------------------------------*/
.footer {
    background-color: var(--negro);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: calc( var(--separacion) / 2 );
}

.logo__name {
    color: var(--blanco);
}
@media (min-width: 320px) and (max-width: 580px) {
    .footer {
        flex-direction: column;
    }
}
@media (min-width: 581px) {
    .footer .nav {
        display: block;
        width: 100%;
        justify-content: space-between;
        text-align: right;
    }  
}

/* Nosotros -----------------------------------------------------------------------------------------------------------------------*/
@media (min-width: 768px) {
    .sobre-nosotros {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 4rem;
    }

    /* otra forma de hacer dos columnas con flexbox seria 
    .sobre-nosotros {
        display: flex;
        justify-content: space-between;
    }
    .nosotros__imagen, .sobre-nosotros__texto {
        flex-basis: calc(50% - 1rem);
    }
    */ 
}
/* Cursos -----------------------------------------------------------------------------------------------------------------------*/
.curso {
    padding: calc(var(--separacion)/2) 0;
}
.curso__contenido {
    margin-top: calc(var(--separacion)/2);
}
@media (min-width: 768px) {
   .curso {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 4rem;
   }
}
/* Formulario -----------------------------------------------------------------------------------------------------------------------*/
.bg__imagen {
    height: 40rem;
    background: url(../img/contacto.jpg) no-repeat center center;
    background-size: cover; 
}
.formulario {
    width: 90%;
    margin: 0 auto;
    background-color: var(--blanco);
    position: relative;
    top: -5rem;
    padding: var(--separacion);
}
.btnSubmit {
    display: flex;
    justify-content: flex-end;
}
.campo {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: calc(var(--separacion)/2);
} 
.campo input, .campo #mensaje {
    border: thin solid var(--grisClaro);
    width: 100%;
}
:focus {
    outline: none;
}
:focus-visible {
    outline: 2px solid var(--prmarioOscuro);
}
@media (min-width: 320px) and (max-width: 480px) {
    .formulario {
        width: 100%;
        top: 0;
        background-color: var(--grisClaro);
        margin-top: calc(var(--separacion)/2);
    }
    .btnSubmit {
        display: block;
    }
}
@media (min-width: 768px) {
    .campo {
        grid-template-columns: 1fr 3fr;
        margin-bottom: calc(var(--separacion)/2);
    }
    .campo label {
        text-align: right;
        padding-right: calc(var(--separacion)/2);
    }
}
